.contact {
  padding: 40px;
}

.contact form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.contact button {
  padding: 10px;
  background: #00adb5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}