.navbar {
  background: #111;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
}

.nav-links a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #00adb5;
}