.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  font-weight: bold;
  color: #00adb5;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background: #00adb5;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}